* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul, li {
  list-style: none;
}
.header {
  height: 100px;
  font-size: 30px;
  color: #fff;
  padding: 16px 0;
  background: #974DF3;
  height: auto;
  text-align: center;
}
.ant-layout {
  background-color: #fff;
}

.main-wrap {
  height: calc(~"100vh - 100px");
}